﻿body {
    font: 14px Arial, Helvetica, sans-serif;
}


.Grid {
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    color: #474747;
}

.generalButton {
    width: 100px;
    height: 40px;
    background: dimgray;
    color: #ffffff;
    border: none;
}
.generalButton:hover {
    width: 100px;
    height: 40px;
    background: lightgrey;
    color: #ffffff;
    border: none;
}

#draggable {
    margin-left: 280px;
    background: whitesmoke;
    z-index: 1;
    width: 1100px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    height: 502px;
    position: absolute;
}

.RowStyle {
    height: 10px;
    background-color: white;
}
.AlternateRowStyle {
    height: 10px;
    background-color: whitesmoke;
}

.HeaderStyle {
    background-color: dimgray;
    color: white;
    font-weight: normal;
}

.gridCB input {width:20px; height:20px;}

.divPanel {
    border: 1px solid white;
    box-shadow: 0 1px 0 gray;
}

.btnCloseExplorer {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.PreviewImage {
    margin-top: 20px;
    margin-left: 60px;
}

.btnPreview {
    margin-left: 100px;
    margin-right: 100px;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

#divPreviewImage {
    width: 300px;
    position: absolute;
    top: 50px;
    right: 0;
    margin-left: 810px;
}

.btnClosePanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
}

.LeftPanel {
    position: absolute;
    left: 0;
    float: left;
    width: 300px;
    
}

.RightPanel {
    margin-left: 301px;
    float: left;
    width: 300px;
    background-color: whitesmoke;
}

.FileUpload {
    margin-right: 5px;
    margin-left: 15px;
}
.txtUsername {
    margin-left: 100px;
}

.divUsername {
    float: left;
}



.GridContainer {
    height: 350px;
    width: 600px;
    overflow: auto;
    border: gainsboro solid 1px;
    width: 70%;
}

.loginContainer {
    position: absolute;
    margin: auto;
    top: 0;
    right: 10%;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 100px;
}

.loginTextBox {
    width: 100%;
    clear: both;
}

.gvHiddenColumn {
    display: none; 
}

.gridControls {
    width: 70%;
    position: relative;

}
.ShowTestData {
    position: absolute;
    right: 0;
    top: 0;
}

/* Large thumbnails */
.rfeLargeThumbnails .rfeThumbList {
    width: 100px !important; /*defines thumbnail wrapper dimension*/
}

.rfeLargeThumbnails .rfeThumbList .rfeFile {
        /*the sum of the height and padding-top values should be equal to the height property defined in the rfeLargeThumbnails class*/
        width: 64px !important;
        height: 44px !important;
        padding-top: 20px !important;
}

.rfeLargeThumbnails .rfeThumbList .rfeImageFile.rfeFile {
        height: 64px !important;
        padding-top: 0 !important;
}

.rfeLargeThumbnails .rfeThumbList .rfeFile img {
        /*defines Image Preview Thumbnail dimension*/
        width: 64px !important;
        height: 64px !important;
}